.navbar{
    background-color: lightskyblue;
}

* {
    box-sizing: border-box;
    font-family:'Courier New', Courier, monospace;
}

.navbar-brand{
    font-family:'Courier New', Courier, monospace;
    font-weight: bold;
    /* font-size: auto; */
}

.homepage-content{
    font-family:'Courier New', Courier, monospace;
}

/* Slideshow container */
.slideshow-container {
    max-width: 1000px;
    position: relative;
    margin: auto;
}

/* Number text (1/3 etc) */
.numbertext {
    color: #f2f2f2;
    font-size: 12px;
    padding: 8px 12px;
    position: absolute;
    top: 0;
}

/* The dots/bullets/indicators */
.dot {
    cursor: pointer;
    height: 15px;
    width: 15px;
    margin: 0 2px;
    background-color: #bbb;
    border-radius: 50%;
    display: inline-block;
    transition: background-color 0.6s ease;
}

.active, .dot:hover {
    background-color: #717171;
}

/* Fading animation */
.fade {
    animation-name: fade;
    animation-duration: 3s;
}

@keyframes fade {
    from {opacity: 0.8}
    to {opacity: 1}
}


.login{
    background-image: url('/static/img/login.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    font-family: 'Poppins', sans-serif;
}

.user-home{
    background-image: url('/static/img/user_home.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    font-family: 'Poppins', sans-serif;
    opacity: 0.9;
}

.input{
    opacity: 0.7;
}

.muse-img{
    width: 490px;
    height: 400px;
    margin-block: 5px;
}

.muse-detail-img{
    width: 900px;
    height: 888px;
    margin-block: 5px;
}

.alert{
    color: red;
}
