{% extends 'base.html' %}

{% block title %}Create Account{% endblock %}

{% block body %}

<section class="text-center text-lg-start" >
    <style>
        .cascading-right {
            margin-right: -50px;
        }

        @media (max-width: 991.98px) {
            .cascading-right {
            margin-right: 0;
            }
        }
    </style>

    <div class="container py-4 mx-auto mt-5 pt-5">
        <!-- Create Account Form -->
        <div class="row g-0 align-items-center">
            <div class="col-lg-6 mb-5 mb-lg-0">
                <div class="card cascading-right shadow-lg" style="background: hsla(0, 0%, 100%, 0.69); backdrop-filter: blur(30px);">
                    <div class="card-body p-5 shadow-lg text-center">
                        <h3 class="fw-bold mb-5">Create an ArtZip account</h3>
                        <form id="create-account-form" action="/create-account" method="POST">
                            <div class="form-outline mb-4">
                                <input class="form-control" type="text" name="fname" id="acct-fname" placeholder="First Name">
                                <div class="alert" id="invalid-fname" style="display: none;">Please enter a valid first name.</div>
                            </div>
                            <div class="form-outline mb-4">
                                <input class="form-control"  type="text" name="lname" id="acct-lname" placeholder="Last Name">
                                <div class="alert" id="invalid-lname" style="display: none;">Please enter a valid last name.</div>
                            </div>
                            <div class="form-outline mb-4">
                                <input class="form-control"  type="email" name="email" id="acct-email" placeholder="Email" required
                                        data-missing-error="This field is required.">
                            </div>
                            <div class="form-outline mb-4">
                                <input class="form-control"  type="password" name="password" id="acct-password" placeholder="Password">
                                <div class="alert" id="invalid-password" style="display: none;">Invalid password.</div>
                                <!-- Password requirements, with show when user clicks on the password input field -->
                                <div id="password-requirements" style="display: none;">
                                    <strong>Password must be:</strong>
                                    <ul>
                                        <li>Minimum length of 8 characters.</li>
                                        <li>Has one uppercase character.</li>
                                        <li>Contains one special character: &, %, $, #, !.</li>
                                    </ul>
                                </div>
                            </div>

                            <div class="form-outline mb-4">
                                <input class="form-control"  type="number" name="phone" id="acct-phone" placeholder="Phone Number(Optional)">
                                <div class="alert" id="invalid-phone" style="display: none;">Please enter a valid phone number.</div>
                            </div>

                            <div class="form-outline mb-4">
                                <input class="form-control"  type="number" name="zipcode" id="acct-zipcode" placeholder="Zipcode(Optional)">
                                <div class="alert" id="invalid-zipcode" style="display: none;">Please enter a valid zipcode.</div>
                            </div>

                            <div class="pt-1 mb-4">
                                <button class="btn btn-primary btn-block mb-4">Create an Account</button>
                            </div>
                            <p>
                                Have an account?
                                <a data-toggle="tab" href="/login">Log in</a>
                            </p>
                        </form>
                    </div>
                </div>
            </div>

            <div class="col-lg-6 mb-5 mb-lg-0">
                <img src="/static/img/signup.jpg" alt="Login image" class="w-100 rounded-3 shadow-lg">
            </div>
        </div>
    </div>
</section>

<!-- Load JS what checks if input password has meet the requirements-->
<script src="/static/js/validate_create_account_info.js"></script>

{% endblock %}
