{% extends 'base.html' %}

{% block title %}ArtZip{% endblock %}

{% block body %}
<div class="homepage-content text-center my-3 py-5">
    <h1>Explore Local Art Scene</h1>
    <h2>Discover museums and galleries around in the neighborhood.</h2>
</div>

<!-- Slideshow container -->
<div class="slideshow-container">

    <!-- Full-width images with number and caption text -->
    <div class="mySlides fade">
        <div class="numbertext">1 / 7</div>
        <img src="/static/img/1.jpg" style="width:100%">
    </div>

    <div class="mySlides fade">
        <div class="numbertext">2 / 7</div>
        <img src="/static/img/2.jpg" style="width:100%">
    </div>

    <div class="mySlides fade">
        <div class="numbertext">3 / 7</div>
        <img src="/static/img/3.jpg" style="width:100%">
    </div>

    <div class="mySlides fade">
        <div class="numbertext">4 / 7</div>
        <img src="/static/img/4.jpg" style="width:100%">
    </div>

    <div class="mySlides fade">
        <div class="numbertext">5 / 7</div>
        <img src="/static/img/5.jpg" style="width:100%">
    </div>

    <div class="mySlides fade">
        <div class="numbertext">6 / 7</div>
        <img src="/static/img/6.jpg" style="width:100%">
    </div>

    <div class="mySlides fade">
        <div class="numbertext">7 / 7</div>
        <img src="/static/img/7.jpg" style="width:100%">
    </div>

    <br>

    <!-- The dots/circles -->
    <div style="text-align:center">
        <span class="dot"></span>
        <span class="dot"></span>
        <span class="dot"></span>
        <span class="dot"></span>
        <span class="dot"></span>
        <span class="dot"></span>
        <span class="dot"></span>
    </div>

    <script src="/static/js/homepage_slidshow.js"></script>
{% endblock %}



