{% extends 'base.html' %}

{% block title %}Log in{% endblock %}

{% block body %}
    <div class="container">
        <div class="row">
            <div class="col">
                <!-- Login form -->
                <p>Log in</p>
                <form id="login-form" action="/login" method="POST">
                    <p>
                        <input type="email" name="login-form-email" id="emai" placeholder="Email" required
                                data-missing-error="This field is required.">
                    </p>
                    <p>
                        <input type="password" name="login-form-password" id="password" placeholder="Password">
                    </p>
                    <p>
                        <button>Log in</button>
                    </p>
                    <p>
                        <!-- Link to creat account page -->
                        <a href="/create-account">Create Account</a>
                    </p>
                </form>
            </div>
        </div>
    </div>
{% endblock %}
