{% extends 'base.html' %}

{% block title %}User Profile{% endblock %}

{% block body %}

<section class="vh-100 user-home">
    <div class="container py-4 d-flex justify-content-center">
        <div class="d-flex flex-column">
        <!-- Shows user account info-->
            <div class="card my-5 shadow-lg" style="width: 45rem; border-radius: 1rem; background-color: rgba(255, 255, 255, 0.5)">
                <div class="card-header fw-bold">
                    <h5 class="fw-bold">Account Information</h5>
                </div>
                <div class="card-body">
                    <div><strong>First Name:</strong> {{user.fname}}</div>
                    <div><strong>Last Name:</strong> {{user.lname}}</div>
                    <div><strong>Email:</strong> {{user.email}}</div>
                    <div><strong>Phone Number: </strong>{{user.phone}}</div>
                    <div><strong>Password:</strong> {{user.password}}</div>
                </div>
            </div>

            <!-- Shows all the museums the user liked -->
            <div class="card my-3 shadow-lg" style="width: 45rem; border-radius: 1rem; background-color: rgba(255, 255, 255, 0.5)">
                <div class="card-header fw-bold">
                    <h5 class="fw-bold">Liked museums:</h5>
                </div>
                <div class="card-body">
                    {% if museums|length == 0 %}
                        <div>
                            You haven't liked any museum.
                        </div>
                    {% endif %}
                    <ul>
                        {% for museum in museums %}
                            <li class="my-2">
                                <a href="{{museum.website}}">{{museum.name}}</a>
                            </li>
                        {% endfor %}
                    </ul>
                </div>
            </div>
        </div>
    </div>
</section>

{% endblock %}
